.arrow_btn {
  border: 2px solid var(--black);
  border-radius: 100%;
  stroke: var(--black);
  cursor: pointer;
  pointer-events: all;
  transition:
    transform 100ms ease-out,
    filter 100ms ease-in-out;
  will-change: transform;
}

.arrow_btn path {
  transition:
    stroke 100ms ease-in-out,
    filter 100ms ease-in-out;
}

.arrow_btn:hover {
  transform: scale(1.1);
  border-color: var(--gold);
  stroke: var(--gold);
}

.arrow_btn_dis {
  opacity: 0.3;
  pointer-events: none;
}

.arrow_btn_dis:hover {
  transform: none;
  stroke: none;
}
