.event {
  color: var(--white);
  background: linear-gradient(to right, var(--gold), transparent);
  border-radius: 8px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  transition: 200ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event:hover {
  transform: scale(1.05);
}

.event:active {
  color: var(--grey);
}
