.btn {
  position: relative;
  background-color: var(--grey);
  color: var(--white);
  width: 15%;
  padding: 12px 12px;
  font-size: 24px;
  border-radius: var(--border-radius);
}

.btn::before {
  background: linear-gradient(to right, var(--black), var(--grey));
}
