.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: var(--border-radius);
}

.container {
  display: flex;
  justify-content: space-between;
}

.obertka {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5vw;
}

.author {
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
}

.date {
  color: color-mix(in srgb, var(--white), var(--black) 30%);
  font-size: 18px;
  font-weight: 400;
}

.author:hover {
  text-shadow: 0 2px 15px color-mix(in srgb, var(--white), transparent 30%);
}

.text {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.3;
}

.trash svg {
  stroke: var(--bgc-weak);
  transition: stroke 200ms ease-in-out;
}

.trash:hover svg {
  stroke: var(--red);
}

.trash:active svg {
  stroke: var(--gold);
}
