.cell {
  width: 100%;
  height: 110px;
  padding: 4px 12px;
  display: flex;
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  flex-direction: column;
  gap: 4px;
  background-color: var(--light-grey);
  border-radius: calc(var(--border-radius) / 2);
  border: 2px solid var(--grey);
  transition: 200ms ease-in-out;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cell > * {
  flex-shrink: 0;
}

.cell:hover {
  transform: scale(1.04);
  border: 2px solid var(--gold);
}
