.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1vh;
  width: 40vw;
  min-height: 25vh;
  padding: 12px;
  background-color: var(--grey);
  border: var(--border-width) solid var(--black);
  border-radius: var(--border-radius);
}

.interest_item {
  display: flex;
  gap: 0.2vw;
  align-items: baseline;
  width: fit-content;
  height: fit-content;
  padding: 0.25rem 1rem;
  font-size: 1.75rem;
  color: var(--white);
  border: var(--border-width) solid var(--black);
  border-radius: var(--border-radius);
}

.interest_remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interest_remove path {
  transition: 200ms ease-in-out;
  fill: var(--black);
}

.interest_remove:hover path {
  fill: var(--red);
}
