.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  padding: 12px 24px;
  gap: calc(var(--header-width) * 0.05);
}

.nav::before {
  background: linear-gradient(to left, var(--black), var(--grey));
}

.logo_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: calc(var(--header-width) * 0.02);
}

.title {
  color: var(--gold);
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
  pointer-events: none;
  user-select: none;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: calc(var(--header-width) * 0.02);
}
