.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 4vh 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1vh;
}

.title {
  color: var(--white);
  font-size: 60px;
  font-weight: 900;
}

.paragraph {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
}

.slider {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myEvents {
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 4vh;
}
