
.wrap {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 80vh;
  gap: 3vh;
  justify-self: center;
  margin: auto;
  padding-top: 40px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.dbar {
  --border-width: 4px;
  --border-radius: 8px;
}

.map_container {
  flex: 1;
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.map_cards_container {
  position: relative;
  border: 2px solid var(--black);
  border-radius: calc(var(--border-radius) / 2);
  background: var(--grey);
}

.map_cards {
  margin: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: var(--white);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.place_container {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 8px 4px;
  background: var(--black);
  border: 2px solid var(--grey);
  border-radius: calc(var(--border-radius) / 3);
}