.dropdown_wrap {
  position: relative;
  height: fit-content;
  width: fit-content;
  z-index: 1;
}

.dropdown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: calc(var(--border-width) + var(--border-radius));
  padding: var(--border-width);
  margin: calc(-1 * var(--border-width));
  background: linear-gradient(to left, var(--black), var(--grey));
}

.dropdown {
  position: relative;

  display: flex;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  height: 3rem;
  max-width: 400px;
}

.input_wrap {
  background-image: url('/filter-list-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2.2rem;

  padding: 0.5rem 0;
  padding-left: 1rem;
  margin-right: 0.5rem;
  width: 100%;
}

.input {
  color: var(--white);
  font-size: 1.3rem;
  cursor: pointer;
}

.input::placeholder {
  color: var(--light-grey);
}

.data_container {
  z-index: 100;

  display: flex;
  position: absolute;
  left: var(--border-width);
  top: 0;

  background-color: var(--grey);
  width: calc(100% - var(--border-width) * 2);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  overflow-y: auto;
  overflow-x: hidden;

  flex-direction: column;
  max-height: 50vh;
  padding-bottom: var(--border-radius);
  overflow: none;

  transition: 200ms ease-in;
}

.data {
  display: block;
  color: var(--white);
  text-align: left;
  padding: 0.5rem 1rem;
  transition: 200ms ease-in;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.data:hover {
  color: var(--gold);
  border-top: 1px solid var(--gold);
  border-bottom: 1px solid var(--gold);
}

.block {
  top: calc(3rem - var(--border-radius));
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}
