.card {
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  border: 3px solid var(--black);
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.card:hover {
  border: 3px solid var(--gold);
  transform: scale(1.04);
}

.img_container {
  height: 75%;
  position: relative;
  overflow: inherit;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.fade_out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 75%, var(--grey));
  pointer-events: none;
}

.description {
  height: 35%;
  margin-top: -10%;
  padding: 20px;
  z-index: 0;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    'item1 item1'
    'item2 heart'
    'item3 heart';
  column-gap: 2%;
}

.event_title {
  grid-area: item1;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: 1;
  height: 2em;
  font-size: 30px;
  font-weight: 900;
}

.event_date,
.event_tags {
  align-self: self-end;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  line-height: 1;
  height: 1em;
  font-size: 16px;
  font-weight: 500;
  font-size: 18px;
  font-weight: 100;
}

.event_date {
  grid-area: item2;
}
.event_tags {
  grid-area: item3;
}

.heart {
  grid-row: 2 / -1;
  align-self: end;
  justify-self: end;
}

.event_title,
.event_date,
.event_tags {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
