.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vh;
  gap: 1vh;
}

.week_days {
  color: var(--white);
  font-size: 20px;
  padding: 10px 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.4vw;
  text-align: center;
}
